<div class="utils-page space-y-4">
  <div class="pill-tabs">
    @for (tab of tabs; track tab.id) {
      <button
        type="button"
        class="pill-tab"
        [class.pill-tab-active]="activeTab() === tab.id"
        (click)="setTab(tab.id)"
      >
        {{ tab.label }}
      </button>
    }
  </div>

  @switch (activeTab()) {
    @case ('avg') {
      <app-avg-calculator />
    }
    @case ('target') {
      <app-profit-target />
    }
    @case ('charges') {
      <app-charges-calculator />
    }
  }
</div>
